.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
}

.fixedHeader.navbar {
  position: fixed;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding-top: 60px;
  flex-grow: 1;
}

.nav-item {
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: #007bff;
}

.nav-link {
  display: block;
  color: #db70d2;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.nav-link:hover{
  color:#db70d2;
}
.main-content {
  padding-top: 60px;
  flex-grow: 1;
  background-color: #addba3;
}