.fixedHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.fixedHeader.navbar {
  position: fixed;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  padding-top: 60px;
  flex-grow: 1;
}

.navLink {
  color: #000;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #007bff;
}